@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    
.container{
    height: 100vh;
}

.mainCointainer{
    height: 100%;
}

h1{
    font-family: 'Anton', sans-serif;
}

.logo{
   width:5rem;
   height: auto;
   border-radius: 20%;
}

